sudo: false
language: node_js
node_js:
- 7
- 6
addons:
  sauce_connect: true
env:
  global:
  - secure: RZ2dNp57mJckA5Jbo8d/GOTGqF/v3QEucQ+FpAS++Haay+gf8eWwXQGotO9b3L6sLCLtIcfFf+Dk1M8M++woETXMpMI4/ShiGJjMFDXB4WF9iIVnyWl3CLcDeQ63GncTj6qrqZ7GKzoEYIUwSbnteI7d82NwzF2NFGkvGQiyjr67IgwVBzzoP+ntPukTrZuaoTWhb1SBuIUDUBDRY9ZNWug8HNJn899EvQdal2fVVbb1SHUbVojHTk+n2NTGsex1/GqvAFwxntd34Sk7l9I/9/pKk4I9A7Jk9/9EETktaoLMnvxLTWlILJj3NYObC31ety7WDSLnTRhZ4FVzOHpfknHK+0tkssLBGma2FTjGluS4sSNQGeC8qChTkQc0sdw+tQKM55Obqonrldlw1q9hNW88bMN8EHjxzmEAdK6YzjvLeCqCinyzIracBCzo1t5ZG01jT3Rt/C/kdtAHjq0wv6sZr1tvUE7vjPyGgXsoCAp+gubmzU6CMqi+MW3Sxhtq7SeLc/pvjiG4kX91QlMi9Q2sYf2MavftxsxE7Fo+ne1dG5O+cIV3rr/08GnJby7UKHiitk28AQnBihvC7q5AzGwu/Q8AHUuEK1gLUruSXu4SEuRiX7FY6RzPCXloI00GF0aPa5Ik9GNdaROtmZKIt4gAg8D6HC0nV6uSvDUW0Gw=
  - secure: lBrcJielukAM5AlVIrIcOrH7ZieCcnG1nz6MR52AzPmqGP7kSIsuCvkqF0DshVl0CGziURvUf3crNHVJI89qsZOa0GIm2bccP9YkB9OqHUqn+CE0VLTPo8kBovTCiVmQ5/POnlVLbeyi3lVfWKereeNTMn8Qud4jrGDBYxk3V1eb1YTxfeCTyrBAm3eWF1Y7rXeqceIqTdmK2D/7BuojVEB+QNo3E6bzKkf6D5Ng5x2JitU9EmrU9aXv1kYkpo+iMUu/IsAsy+KQt1npy3eI3RxoWVYaOJs+4SyeYIM3uK+qLpfhqcLfpFMltMKWf/jBObhztqmjUgEIWeLVF8gxFTQoxQY/149k1QQJgE4VK7NEM8JuoMOI4bZyKkjsDclIvwAUs9O7l4DxCuboSB5vIgpbJ6g1zu2ZZG7DfZFQNEdNKXJunMUmcuNlTAkD/BOAouDUOUhnz8dM5Q4XxZfUVZNDB/XYulIO/7e8Kf1l6sViHSN0/jRZMd/AZ9TvoydSTv4sw49uncUAfbh3ZsFDfZm0f6eE4cdBgIlfW0vGVtYevJpLWTecx/Vryu6h8qRI6EEt5oiUU6HiAwt/2CQmx87QDo0cRNBtj3KPdHWsNcY1c+8t+o1YBugNxqZZBoxuf3HS80Ns9t4fT5EeeO7SBygGXBIy2lLMTN8GQjGbzyY=
deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_TOKEN
  on:
    repo: yahoo/protractor-retry
    branch: master

